.container {
  max-width: $container-width;
  margin: $center-block;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1300px) and (max-width: 1499px){
    max-width: 1040px;
  }
}
.container-fluid {
  padding-left: $container-padding;
  padding-right: $container-padding;
}
.row {
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.hidden {
  overflow: hidden;
}
/*flex styles*/
ul.flex {
  list-style: none; }

.flex {
  display: flex; }

.column {
  flex-direction: column; }

.justify-start {
  justify-content: flex-start; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around;}

.justify-end {
  justify-content: flex-end;
  width: 100%;}

.justify-center {
  justify-content: center; }

.align-start {
  align-items: flex-start; }

.align-center {
  align-items: center; }

.align-end {
  align-items: flex-end; }
.flex-wrap {
  flex-wrap: wrap;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-33 {
  width: 33%;
}
.w-50 {
  width: 50%;
}
.w-70 {
  width: 70%;
}
.w-100 {
  width: 100%;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
