.animation__first-screen {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
  left: 0;
  transition: 2s ease;
  opacity: 1;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  .title {
    color: #fff;
    font-size: 6.75vw;
    font-family: "IBM Plex Mono",monospace;
    font-weight: 700;
    position: relative;
    padding: 0 0 10vh;
    @media (min-width: 992px) {
      padding: 0 0 4vh;
    }
  }
}
.animation__second-screen {
  transition: .5s ease;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
.animated-title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 14;
  overflow: hidden;
  > div {
    min-height: 100%;
  }
  canvas {
    height: 100vh!important;
  }
}