@import "../scss/reset";
@import "../scss/var";
@import "../scss/grid";
@import "../scss/header-animation";
body {
  color: $slate;
  font: {
    family: $font-primary;
  }
  &.clear {
    &:after {
      opacity: 0;
    }
  }
}
.hidden {
  overflow: hidden;
}
.gradient-body {
  background-image: linear-gradient(to bottom, rgba(238,232,218,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 89%,rgba(238,232,218,1) 100%);
}
.relative {
  position: relative;
  z-index: 1;
}
.font-secondary {
  font-family: $font-secondary;
}
.btn {
  cursor: pointer;
  transition: $duration;
  position: relative;
  &.simple {
    border: 2px solid #fff;
    background: linear-gradient(to right, $slate 50%,  rgba(#fff, 0) 51%);
    background-position: 0 50%;
    background-size: 300%;
    font-size: 16px;
    padding: 9px 31px;
    color: #fff;
    z-index: 16;
    @media (min-width: 768px) {
      padding: 11px 40px;
    }
  }
  &.arrow-down {
    width: 56px;
    height: 56px;
    padding: 10px;
    svg {
      fill: $slate;
      transition: $duration;
      height: 100%;
      width: 100%;
    }
    &:hover {
      svg {
        fill: $eggShell;
      }
    }
  }
  &.yellow {
    background: linear-gradient(to right, $sunLight 50%, rgb(255, 221, 134) 75%, $sunLight 100%);
    background-size: 300%;
    background-position: 0 50%;
    color: $slate;
    &:hover {
      background-position: 100% 50%;
    }
  }
  &.green-blue {
    background: linear-gradient(to right, $gradientGreen 0%, $gradientBlue 50%, $gradientGreen 100%);
    background-size: 300%;
    background-position: 0 50%;
    &:hover {
      background-position: 120% 50%;
    }
  }
  &.shadow {
    top: -5px;
    left: -5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    letter-spacing: .18em;
    @media (min-width: 768px) {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 3.6px;
      padding: 18px 53px;
    }
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: $slate;
      top: 10px;
      right: -10px;
      transition: $duration;
      z-index: -1;
    }
    &:hover {
      top: 0;
      left: 0;
      &:after {
        top: 0;
        right: 0;
      }
    }
  }
}
.blue {
  color: $gradientBlue;
}
.yellow {
  color: $sunLight;
}
.color-text-grey {
  color: $greyText;
}
.arrow-right {
  transform: rotate(-90deg);
}
.text-center {
  text-align: center;
}
.container-fluid {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 1280px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.logo {
  display: block;
  width: 201px;
  position: relative;
  z-index: 15;
  svg {
    display: block;
    width: 100%;
    fill: #fff;
    transition: $duration;
  }
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  @media (min-width: 1300px){
    width: 143px;
  }
}
.h2 {
  font-size: 34px;
  line-height: 46px;
  margin: 0 0 40px;
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 60px;
  }
  @media (min-width: 1024px) {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 88px;
  }
  @media (min-width: 1300px) {
    font-size: 78px;
    line-height: 104px;
    margin-bottom: 88px;
  }
}
.h3 {
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 50px;
  @media (min-width: 768px) {
    font-weight: 700;
    letter-spacing: .7px;
  }
  @media (min-width: 768px) and (max-width: 1300px){
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
  }
  @media (min-width: 1300px){
    font-size: 48px;
    line-height: 88px;
    margin-bottom: 25px;
  }
}
.h4 {
  font-size: 24px;
  color: $slate;
  font-weight: 700;
  margin-top: 0;
  @media (min-width: 768px) {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 17px;
  }
}
.slogan{
  padding: 0 20px;
  margin: 0 auto 96px;
  font-size: 22px;
  line-height: 38px;
  max-width: 1350px;
  @media (min-width: 768px){
    font-size: 22px;
    line-height: 40px;
    max-width: 950px;
  }
}
.header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 75px;
  background: $eggShell;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    background: rgb(80, 189, 144);
    background: linear-gradient(to right, $gradientGreen 0%, $sunLight 25%, $burntSienna 50%, $accentBlue 75%, $eggShell 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50bd90', endColorstr='#eee8da', GradientType=1);
    background-size: 250%;
    animation: GradientMove 15s ease infinite;
  }
  .btn {
    display: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    padding-bottom: 210px;
  }
  @media (min-width: 1300px){
    padding-bottom: 297px;
  }
  &.slate {
    .logo svg {
      fill: $slate;
    }
    .btn.simple {
      border: 2px solid $slate;
      color: $slate;
      background-size: 300%;
      background-position: 100% 50%;
      &:hover {
        background-position: 0 50%;
        color: #fff;
      }
    }
  }
}
.ham {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
  z-index: 16;
  @media (min-width: 768px) {
    display: none;
  }
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
.slate {
  .line {
    stroke: #000;
  }

  + .main-wrapper {
    .animated-title {
      z-index: 1;
    }
  }
}
.mobile-nav {
  position: fixed;
  top: 120px;
  left: -100vw;
  height: calc(100vh - 120px);
  width: 100%;
  background: $eggShell;
  transition: $duration;
  z-index: 20;
  text-align: center;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 0 10px;
  @media (min-width: 470px) {
    font-size: 24px;
  }
  ul {
    list-style: none;
  }
  &.open {
    left: 0;
  }
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: '>';
      font-size: 16px;
      margin-left: 10px;
      position: relative;
      top: 1px;
    }
  }
}
@keyframes GradientMove {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
.header-inner {
  position: relative;
  padding: 10px 20px 0;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    padding: 47px 55px 0;
    margin-bottom: 0;
  }
  @media (min-width: 1300px){
    padding: 32px 0 0;
  }
}
.banner{
  padding-bottom: 95px;
  @media (min-width: 1200px) {
    padding-bottom: 212px;
  }
  @media (min-width: 1440px){
    padding-bottom: 210px;
  }
  .title-img {
    margin-bottom: 30px;
    max-width: 100%;
    width: 85%;
    @media (min-width: 768px) {
      margin-bottom: 47px;
    }
  }
  .h2 {
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 56px;
    }
    @media (min-width: 1190px) and (max-width: 1300px) {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.data-community {
  margin-bottom: 95px;
  @media (min-width: 768px) {
    background: url(https://cdn2.hubspot.net/hubfs/5936269/landing/circle-grid.png) 109.7% 82.8%/30vw no-repeat;
    padding-bottom: 200px;
    margin-bottom: 0;
  }
  @media (min-width: 1200px){
    background-size: 299px;
    padding-bottom: 245px;
    background-position: 106.7% 83.8%;
  }
  @media (min-width: 1460px ) {
    background-position: 100% 83.8%;
  }
  &.container {
    @media (max-width: 1460px) {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .img {
    width: 100%;
    height: 220px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      height: auto;
      width: 40%;
      margin-bottom: 0;
    }
    @media (min-width: 1500px) {
      max-width: 600px;
    }
    img {
      display: block;
      width: 100%;
      position: relative;
      top: -85px;
      @media (min-width: 768px) {
        top: 0;
      }
    }
  }
  .text {
    font-size: 25px;
    padding: 0 40px;
    line-height: 35px;
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
      font-size: 20px;
      line-height: 28px;
      padding: 20px 0 0 30px;
      width: 60%;
    }
    @media (min-width: 1024px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (min-width: 1200px) {
      line-height: 56px;
      padding: 27px 95px 0 48px;
      width: 55%;
    }
    .italic {
      font-style: normal;
      @media (min-width: 768px) {
        font-style: italic;
        margin-bottom: 62px;
        letter-spacing: .8px;
        padding-right: 10px;
      }
    }
    .bold {
      font-weight: normal;
      @media (max-width: 767px) {
        font-family: $font-primary;
      }
      @media (min-width: 768px) {
        letter-spacing: 1.2px;
        padding-left: 70px;
        font-weight: bold;
      }
      @media (min-width: 1200px) {
        padding-left: 50px;
      }
    }
    p {
      @media (max-width: 767px) {
        display: inline;
      }
    }
  }
}
.we-are-partner {
  padding: 0 20px;
  margin-bottom: 95px;
  @media (min-width: 768px) {
    margin-bottom: 140px;
  }
  .slogan {
    @media (min-width: 768px){
      margin-bottom: 90px;
    }
  }
  .img {
    margin: 0 auto;
    max-width: 75%;
    @media (min-width: 769px) {
      max-width: 702px;
    }
    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}
.trust {
  margin-bottom: 55px;
  &.container {
    max-width: 1180px;
  }
  .item {
    text-align: center;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
    @media (min-width: 768px) {
      width: 50%;
      text-align: left;
      padding: 0 40px;
      margin-bottom: 100px;
    }
    &:nth-child(odd) {
      @media (min-width: 1300px){
        padding: 0 100px 0 25px;
      }
    }
    &:nth-child(even) {
      @media (min-width: 768px) {
        padding: 0 50px;
      }
      @media (min-width: 1200px) {
        padding: 0 50px 0 110px;
      }
    }
  }
  .img {
    height: 60px;
    margin-bottom: 10px;
    @media (min-width: 1300px) and (max-width: 1499px) {
      margin-bottom: 45px;
      height: 70px;
    }
    img {
      height: 100%;
    }
  }
  .h3 {
    @media (min-width: 768px) {
      margin-bottom: 110px;
    }
    br {
      display: inline-block;
      @media (min-width: 1440px) {
        display: none;
      }
    }
  }
  .h4 {
    font-weight: 700;
    margin-bottom: 5px;
    @media (min-width: 1300px){
      font-size: 26px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  .text {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: .025em;
    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 32px;
    }
  }
  @media (min-width: 1200px) {
    margin-bottom: 35px;
  }
}
.models {
  padding: 50px 20px 10px 20px;
  margin-bottom: 110px;
  background-color: rgba($eggShell, .2);
  @media (min-width: 1300px) {
    padding-top: 108px;
    margin-bottom: 177px;
  }
  .container {
    padding-top: 46px;
    padding-bottom: 50px;
    max-width: 1024px;
  }
  .item {
    align-items: center;
    padding: 20px;
    border-bottom: 2px dashed $accentBlue;
    @media (min-width: 768px) {
      padding: 40px 20px;
      justify-content: space-between;
      &:nth-child(even) {
        .img {
          order: 2;
        }
        .text {
          order: 1;
          padding: 10px;
        }
      }
    }
    @media (min-width: 1024px) {
      padding: 62px 40px 34px 30px;
    }
    .img {
      width: 60%;
      flex-shrink: 0;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        margin-bottom: 0;
        width: 50%;
      }
      @media (min-width: 1024px) {
        margin-bottom: 0;
        width: 410px;
      }
      @media (min-width: 1300px){
        width: 320px;
        &:first-of-type {
          width: 285px;
        }
        &:nth-child(2) {
          width: 370px;
        }
      }
      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }
    .text {
      text-align: center;
      font-size: 22px;
      line-height: 36px;
      @media (min-width: 768px) {
        font-size: 25px;
        text-align: left;
        padding: 10px 10px 10px 30px;
        width: 60%;
      }
      @media (min-width: 1300px){
        font-size: 18px;
        text-align: left;
        padding: 0 50px 30px 40px;
        line-height: 34px;
      }
      .h4 {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 20px;
        @media (min-width: 768px) {
          margin-bottom: 20px;
        }
      }
    }
    &:nth-child(odd) {
      border-right: 2px dashed $accentBlue;
      padding-right: 20px;
    }
    &:nth-child(even) {
      border-left: 2px dashed $accentBlue;
      padding: 40px 35px 50px 20px;
      @media (min-width: 1024px){
        .img {
          width: 480px;
        }
      }
      @media (min-width: 1300px){
        .img {
          width: 320px;
        }
        .text {
          padding-right: 86px;
          padding-left: 70px;
          padding-top: 33px;
        }
      }
    }
    &:first-of-type {
      position: relative;
      &:before {
        content: '';
        height: 73px;
        width: 50%;
        border-left: 2px dashed $accentBlue;
        border-bottom: 2px dashed $accentBlue;
        position: absolute;
        left: 50%;
        top: -73px;
      }
    }
    &:last-of-type {
      position: relative;
      border-bottom: none;
      &:before {
        content: '';
        left: 50%;
        height: 50px;
        width: 50%;
        border-left: 2px dashed $accentBlue;
        border-top: 2px dashed $accentBlue;
        position: absolute;
        bottom: -50px;
      }
    }
  }
  .h3 {
    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
  }
  .slogan {
    margin-bottom: 50px;
  }
  .btn-wrapper {
    position: relative;
    top: 40px;
  }
}
.learn-more {
  background: linear-gradient(to left, $sunLight 0%,$accentOrange 100%);
  height: 340px;
  position: relative;
  color: #fff;
  margin-bottom: 95px;
  @media (min-width: 768px) {
    height: 240px;
    margin-bottom: 88px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://cdn2.hubspot.net/hubfs/5936269/landing/crosses-bg.png) 0 0 / cover no-repeat;
  }
  .learn-more__inner {
    position: relative;
    z-index: 1;
    padding: 0 20px;
  }
  .font-secondary {
    text-align: center;
    font: {
      size: 28px;
      weight: 700;
    }
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
    @media (min-width: 1024px) {
      font-size: 31px;
      letter-spacing: .04em;
    }
  }
  .arrow-right {
    display: none;
    width: 45px;
    height: 45px;
    margin: 20px 0 0;
    svg {
      height: 100%;
      width: 100%;
    }
    @media (min-width: 768px) {
      display: block;
      margin: 0 0 0 24px;
      transform: rotate(-90deg);
    }
  }
  .btn {
    margin-top: 20px;
    @media (min-width: 768px) {
      margin-top: 0;
      margin-left: 50px;
    }
    &.shadow {
      flex-shrink: 0;
      @media (min-width: 768px) {
        padding: 15px 40px;
      }
      @media (min-width: 1024px) {
        padding: 20px 55px;
      }
    }
  }
  &.container {
    max-width: 1440px;
  }
}
.reviews {
  margin-bottom: 95px;
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
  .h3 {
    @media (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
  .slide {
    text-align: center;
    border: 2px solid $slate;
    padding: 60px 20px 20px;
    margin: 45px 10px 0;
    width: 280px;
    position: relative;
    @media (min-width: 768px) {
      margin: 45px 32px 0;
      width: 550px;
    }
    @media (min-width: 1300px) {
      margin: 45px 44px 0;
      width: 700px;
    }
    .color-text-grey {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .avatar {
    position: absolute;
    width: 64px;
    height: 64px;
    background: $sunLight;
    border-radius: 50%;
    top: -32px;
    left: 50%;
    margin-left: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:after {
      content: '';
      position: absolute;
      left: 4px;
      bottom: -4px;
      height: 100%;
      width: 100%;
      background: $slate;
      z-index: -1;
      border-radius: 50%;
    }
    img {
      width: calc(100% - 32px);
    }
  }
  .slider-nav {
    margin-top: 40px;
    @media (min-width: 768px) {
      margin-top: 112px;
    }
  }
  .slick-arrow {
    cursor: pointer;
    width: 45px;
    svg {
      fill: $slate;
      transition: $duration;
    }
    &:hover {
      svg {
        fill: $gradientBlue;
      }
    }
    &.slick-prev {
      transform: rotate(90deg);
      margin-right: 24px;
    }
    &.slick-next {
      transform: rotate(-90deg);
      margin-left: 24px;
    }
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    button {
      padding: 0;
      height: 11px;
      width: 11px;
      transition: $duration;
      background: $slate;
      text-indent: -9999px;
      border: none;
    }
    li {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 8px;
      &.slick-active, &:hover {
        button {
          height: 20px;
          width: 20px;
          background: $gradientBlue;
        }
      }
    }
  }
}
.partners {
  padding: 0 20px 45px;
  @media (min-width: 768px) {
    padding-bottom: 60px;
  }
  .container {
    max-width: 1200px;
    align-items: center;
  }
  .h3 {
    @media (min-width: 768px) {
      margin-bottom: 70px;
    }
  }
  .item {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    @media (min-width: 768px) {
      width: 25%;
      margin: 0;
      padding: 10px 3vw;
    }
    @media (min-width: 992px) {
      padding: 10px 5vw;
    }
    @media (min-width: 1200px) {
      padding: 32px 65px;
      margin-bottom: 29px;
    }
    img {
      display: block;
      width: 90%;
      max-width: 150px;
      @media (min-width: 768px) {
        max-width: 100%;
      }
      @media (min-width: 1300px) {
        width: 100%;
      }
    }
  }
}
.contacts {
  padding: 40px 20px;
  background: linear-gradient(to right, $gradientGreen 0%, $gradientBlue 100%);
  @media (min-width: 768px) {
    padding: 80px 0 0;
  }
  .container {
    width: 100%;
    padding: 0 20px;
    @media (min-width: 1024px) {
      max-width: 1170px;
    }
  }
  .h3 {
    color: #fff;
    &:first-of-type {
      margin-bottom:10px;
    }
    @media (min-width: 768px) {
      &:last-of-type {
        margin-bottom: 80px;
      }
    }
  }
  .form-wrapper {
    background: url(https://cdn2.hubspot.net/hubfs/5936269/landing/grid-form.png) top center / 1120px no-repeat;
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
    @media (min-width: 768px) {
      padding-top: 71px;
      padding-bottom: 60px;
    }
    &:after {
      content: '';
      position: absolute;
      background: url(https://cdn2.hubspot.net/hubfs/5936269/landing/form-decor-graph.png) 0 0/100% no-repeat;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 170px);
      height: 655px;
    }
  }
  .form {
    max-width: 460px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    .h4 {
      color: $sunLight;
      font-size: 35px;
      letter-spacing: 7px;
      margin-top: 0;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        margin-bottom: 65px;
        span {
          display: flex;
          justify-content: center;
          width: 33px;
          text-align: center;
          align-items: center;
          flex-direction: column;
          flex-shrink: 0;
          letter-spacing: normal;
        }
      }
    }
  }
  .form-row {
    margin-bottom: 33px;
    .custom-input {
      font-size: 20px;
      padding: 18px 28px;
      width: 100%;
      border: none;
      &::placeholder {
        color: $slate;
        transform: scaleY(1);
        transition: $duration;
      }
      &:focus {
        &::placeholder {
          transform: scaleY(0);
        }
      }
    }
    textarea {
      resize: none;
      height: 222px;
    }
    .btn.gradient {
      background: linear-gradient(to right, $accentBlue 0%, $gradientGreen 100%);
      background-size: 350%;
      background-position:0 50%;
      border: none;
      color: #fff;
      padding: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      transition: all 1s;
      &:hover {
        background-position: 100% 50%;
      }
    }
  }
  .subscribe {
    padding: 40px 0;
    border-bottom: 2px dashed #fff;
    margin-bottom: 40px;
    flex-direction: column;
    @media (min-width: 768px) {
      padding: 80px 0 85px;
      margin-bottom: 48px;
    }
    @media (min-width: 1200px) {
      padding: 70px 0 60px;
      margin-bottom: 47px;
    }
    @media (min-width: 1440px) {
      flex-direction: row;
    }
    .h4 {
      color: #fff;
      margin-top: 0;
      margin-bottom: 40px;
      text-align: center;
      font-size: 36px;
      line-height: 50px;
      @media (min-width: 768px) {
        font-size: 30px;
        width: 100%;
      }
      @media (min-width: 992px) {
        font-size: 32px;
      }
      @media (min-width: 1440px) {
        margin-bottom: 0;
        text-align: left;
        width: 49%;
        max-width: 100%;
      }
    }
  }
  .subscribe-form {
    &.form-row {
      margin-bottom: 0;
      @media (min-width: 1440px) {
        width: 40%;
      }
    }
    .custom-input {
      border: none;
      &::placeholder {
        color: rgba($slate, .32);
      }
    }
    .btn {
      border: none;
      font-weight: 700;
      letter-spacing: 1.78px;
      text-transform: uppercase;
      font-size: 16px;
      width: 130px;
      text-align: center;
      flex-shrink: 0;
    }
  }
}
.footer__nav {
  margin-bottom: 40px;
  text-align: center;
  @media (min-width: 768px) {
    margin-bottom: 100px;
    text-align: left;
    font-size: 16px;
  }
  ul {
    list-style: none;
    justify-content: center;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
    li {
      margin: 0 0 40px;
      @media (min-width: 768px) {
        margin: 0 120px 0 0;
      }
    }
    a {
      color: #fff;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        transition: $duration;
        transform: scaleX(1);
      }
      &:hover {
        &:after {
          transform: scaleX(0);
        }
      }
    }
  }
}
.footer__bottom {
  color: #fff;
  align-items: center;
  font-size: 16px;
  small {
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  @media (min-width: 768px) {
    padding-bottom: 40px;
  }
}
.footer__logo {
    margin: 0;
    width: 145px;
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
