/*Grid*/
$container-width: 1440px;
$container-padding: 20px;
$center-block: 0 auto;

/*Colors*/
$gradientGreen: #50bd90;
$gradientBlue: #36c8ef;
$eggShell: #eee8da;
$slate: #000;
$accentBlue: #0d8cff;
$accentOrange: #f08725;
$sunLight: #ffcf60;
$burntSienna: #36c8ef;
$greyText: rgba(#050505, .64);

/*Elements*/
$duration: all .2s;
$border-radius: 5px;

/*Fonts*/
$font-primary: 'IBM Plex Sans', sans-serif;
$font-secondary: 'IBM Plex Mono', monospace;
$global-font-size: 18px;
$global-line-height: 28px;